{% extends 'base.html' %}

{% load humanize %}

{% block title %}
	List {{ thelist.name }} by {{ thelist.owner }}
{% endblock %}

{% block js %}

{{ block.super }}

<script type="text/javascript">
	$(document).ready = function() {

			
	};
	
	/** General event binding **/
		
	
	sodo = (typeof(sodo) == 'undefined')?{}:sodo;
	sodo.list = (typeof(sodo.list) == 'undefined')?{}:sodo.list;
	
	sodo.list.show_collaborator_add = function() {
		$('#thelist-collaborator-add').removeClass('hidden');
	}
	
	sodo.list.focus_collaborator_add = function(elem) {
		if($(elem).val() == "{{ _("enter username or email address") }}") {
			$(elem).val("");
		}		
	}
	
	sodo.list.blur_collaborator_add = function(elem) {
		if($(elem).val() == "") {
			$(elem).val("{{ _("enter username or email address") }}");
		}
	}
	
</script>

{% endblock %}

{% block content %}

	<h1>{{ thelist.name }} by <a href='/user/{{ thelist.owner.username }}/'>{{ thelist.owner }}</a></h1>

	<div id="thelist-collaborators">	
		{{ _("Collaborators") }}:
		<ul>
			{% for col in thelist.collaborators.all %}
				{% ifequal user col %}
					<li class="list-collaborator">{{ _("you") }}</li>
				{% else %}
					<li class="list-collaborator"><a href="{% url sodo.user.show col.username %}">{{ col }}</a></li>
				{% endifequal %}
			{% empty %}
				<li class="list-collaborator">{{ _("No collaborators yet.") }} <a href="javascript:sodo.list.show_collaborator_add();">{{ _("Invite some?") }}</a></li>	
				<li id="thelist-collaborator-add" class="hidden">
					<form class="styled-form" method="post" action="{% url sodo.list.collaborator.add %}">{% csrf_token %}
						<input type="hidden" value="{{ thelist.id }}" name="list-id">
						<input type="text" name="user-value" value="{{ _("enter username or email address") }}" onfocus="javascript:sodo.list.focus_collaborator_add($(this));" onblur="javascript:sodo.list.blur_collaborator_add($(this));">
						<input type="submit" value="{{ _("Add collaborator!") }}">
					</form>
				</li>		
			{% endfor %}
		</ul>
	</div>

	<div id='thelist' class='styled-form'>
		{% if user == thelist.owner or user in thelist.collaborators.all %}
			<div class='list-item'>
				<ul class='clearfix'>
					<form method="post" action="{% url sodo.list.item.new thelist.id %}">{% csrf_token %}
						<li class='list-item-desc'><input class='new-list-item-desc' type="text" name='item-desc' value="{{ _("Add new item") }}"></li>
					</form>
				</ul>
			</div>	
		{% endif %}

		
		<ul class="list-items">
			{% for item in thelist.primary_items.iterator %}
				{% include 'item/item.html' %}
			{% empty %}
				<h3>{{ _("No items in this list") }}</h3>
			{% endfor %}
		</ul>
	</div>

	<div id="thelist-sublists">
		{{ _("Sub-lists") }}: 
		<ul>
			{% for sub in thelist.sub_lists.all %}
				<li class="list-sublist"><a href="{% url sodo.list.show sub.id %}">{{ sub }}</a></li>
			{% empty %}
				{{ _("None") }}
			{% endfor %}
		</ul>
	</div>

	<div id="thelist-links">
		<ul>
			<!--<li><form class="styled-form" method="post" action="{% url sodo.list.collaborator.add %}">{% csrf_token %}<input type="hidden" value="{{ thelist.id }}" name="list-id"><input type="text" name="user-value"><input type="submit" value="{{ _("Add collaborator!") }}"></form></li>-->
			<li><a href="">{{ _("Create sublist") }}</a></li>
		</ul>
	</div>


{% endblock %}