{% extends 'base.html' %}

{% block title %}
	{{ _("Sign in to") }} Svarm Do!
{% endblock %}



{% block content %}
	<h1>{{ _("Sign in to Svarm Do") }}</h1>

	{% if errors %}
		<p>Errors</p>
		<p class='error'>{{ errors }}</p>
	{% endif %}

	<div id='user-login' class='styled-form'>
		<form action="{{ request.path }}" method="post">{% csrf_token %}
			<ul>		
				{{ form.as_ul }}						
			</ul>
			<input type='hidden' name="next" value="{{ next }}">		
			<input type="submit" value="{{ _("Sign in") }}">			
		</form>
	</div>

{% endblock %}