{% extends 'base.html' %}

{% load i18n %}

{% block title %}
	{% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}{{ _("'s Profile") }}
{% endblock %}


{% block content %}
	
	<div id="user-header">
		<h1>{% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}{{ _("'s Profile") }}</h1>
		
		
		{% ifnotequal user request.user %}
			{% if 'a' not in request.user.collaborators %}
				<div id="user-add-friend">
					<a href="{% url sodo.user.add.friend user.username %}">Add {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %} as a collaborator.</a>
				</div>
			{% endif %}
		{% endifnotequal %}
	</div>
	
	<div id="user-profile" class='styled-form'>
				
		<div class='user-info'>
			<form method="post" action="user/{{ user.username }}/">
			<ul>
				{{ uform.as_ul }}
				
				{% ifequal user request.user %}<li><input type="submit" value="{{ _("Save") }}"></li>{% endifequal %}
			</ul>
			</form>
		</div>
		
		<div class='user-image'>
			<img src="{{ MEDIA_URL }}global/img/generic-user.png" title="{{ user.get_full_name }}">
		</div>
	</div>
	
	<div class="clear"></div>
	
	<div id="user-lists">
		<h2>{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %} {{ _("is part of the following lists") }}:</h2>
	
		<ul>
			{% for list in user.lists %}
				<div class='list'>
					<ul>
						<li class='list-name'><a href="/list/{{ list.key.id }}/">{{ list.name }}</a></li>
						<li class='list-item-count'>{{ list.list_items.count }} {{ _("items") }}</li>
					</ul>
				</div>
			{% endfor %}
		</ul>
	
		<div id='new-list-link'>
			{% ifequal request.user user %}
				<a href="/list/new">{{ _("Create a new list >>") }}</a>
			{% endifequal %}
		</div>

	</div>
	
{% endblock %}