{% load i18n %}
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
      <link href="{{ MEDIA_URL }}css/sodo.css" media="screen" rel="stylesheet" type="text/css" />
      <!--[if IE]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
      <![endif]-->
    {% endblock %}

    {% block js %}
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
  	{% block header %}
  	
  		<div id="header-logo">
  			<a href="{% url sodo.index %}"><img src="" alt="SvarmDo" title="SvarmDo"></a>
  		</div>
  	
  		<div id="header-nav">
          {% if user.is_authenticated %}
            Welcome, <a href='{% url sodo.user.show user.username %}'>{{ user }}</a>!
            <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
          {% else %}
            <a href="{% url django.contrib.auth.views.login %}">Login</a>
            <a href="{% url sodo.user.register %}">Register</a>
          {% endif %}
  		</div>
  	
  	{% endblock %}
  
	<hr >
    
    <div id="content" class="container">
      {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if success %}<div class="success">{{ success }}</div>{% endif %}
        {% if messages %}
		  <ul class="messages">
		    {% for message in messages %}
		      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		  </ul>
		{% endif %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      	<ul>
      		<li><a href="/about/">{{ _("About SvarmDo") }}</a></li> |
      		<li><a href="/contact/">{{ _("Contact Us") }}</a></li> |
      		<li><a href="/privacy/">{{ _("Privacy") }}</a></li> |
      	</ul>
      {% endblock %}
    </div>
  </body>
</html>
