{% extends 'base.html' %}

{% load i18n %}

{% block title %}
	{{ _("SvarmDo Listing") }}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

	var svarmdo = (typeof(svarmdo) == 'undefined')?{}:svarmdo;
	svarmdo.index = (typeof(svarmdo.index) == 'undefined')?{}:svarmdo.index;
	
	svarmdo.index.updateCompleted = function(newValue) {
		$('#ongoing-progress').html(newValue + "%")
	}
	
	
	// Events for list-tags
	$('.list-tag').live('click', function(event) {
		// Remove .list-tag-selected from the entire range
		$('.list-tag').removeClass('list-tag-selected');
		
		// Assign .list-tag-selected to the target element
		$(event.target).addClass('list-tag-selected');
	});


	// 'done' event for Items
	$('.item-check').live('change', function(event){
		if($(event.target).attr('checked')) {
			// Add the .item-completed class
			$(event.target).siblings('.item-desc').addClass('item-completed');
			
			// Fire the item-completion Ajax call
			$.ajax({
				url: '/item/' + $(event.target).val() + "/complete/",
				type: "post",
				dataType: "json",
				success: function(data, textStatus, xhr) {
					// Perform 'success' action, eg. remove item from list
					if(typeof(data['overall_progress']) != 'undefined') {
						svarmdo.index.updateCompleted(data['overall_progress'])
					}
				},
				
				error: function(xhr, textStatus, errorThrown) {
					// Peform 'error' action, eg. show flash error message
				}				 
			})
		}
		else {
			$(event.target).siblings('.item-desc').removeClass('item-completed');
			
			// Fire the item-uncompletion Ajax call
			$.ajax({
				url: '/item/' + $(event.target).val() + "/incomplete/",
				type: "post",
				dataType: "json",
				success: function(data, textStatus, xhr) {
					// Perform 'success' action, eg. remove item from list
					if(typeof(data['overall_progress']) != 'undefined') {
						svarmdo.index.updateCompleted(data['overall_progress'])
					}
				},
				
				error: function(xhr, textStatus, errorThrown) {
					// Peform 'error' action, eg. show flash error message
				}				 
			})
		}
	})

</script>
{% endblock %}

{% block content %}

	<div id="home">
	{% if user.is_authenticated %}
		<div id="new-input">
			<form class="styled-form" method="post" action="{% url sodo.item.new %}">{% csrf_token %}
				<input type="text" name="item_name" value="{{ _("What do you need to get done") }}?"><input type="submit" value="{{ _("Get it done") }}!">
				<!--<input type="hidden" name="item_primary_list_id">-->

	
				<div id="new-input-tags" class="clearfix">
					<span>{{ _("Most recent") }}:</span>
					<ul class="clearfix">
						{% for list in user.lists %}
							<li>
								<input type="radio" name="list-tag" id="list-tag-{{ list.id }}" value="{{ list.id }}" {% if forloop.first %}checked{% endif %}>
								<label for="list-tag-{{ list.id }}"><span class="button list-tag {% if forloop.first %}list-tag-selected{% endif %}">{{ list }}</span></label>
							</li>
						{% endfor %}
					</ul>
				</div>
			</form>
		</div>
	
		<div id="ongoing" class="task-section">
			<div id="ongoing-progress">
				{{ items_progress }}%
			</div>
			<h1>{{ _("Ongoing")|upper }}</h1>	
			<p class="caption">{{ _("Items pending completion") }}</p>
			<div id="ongoing-items">
				<ul>
					{% for item in user.owned_items.all %}					
						{% include 'item/item.html' %}	
					{% endfor %}
				</ul>
			</div>
		</div>
	
		<div id="incoming" class="task-section">
			<h1>{{ _("Incoming")|upper }}</h1>
			<p class="caption">{{ _("Items you have not accepted into your stream.") }}</p>
			<ul>
				{% for item in user.assigned_items.all %}
					<li>
						<input class="incoming item-check" type="checkbox" {% if item.completed %}checked{% endif %} value="{{ item.id }}">
						<span class="ongoing item-reassign button">{{ _("Reassign") }}</span>
						<span class="incoming item-name">{{ item }}</span>
						<span class="incoming item-list"><a href="{% url sodo.list.show item.primary_list.id %}">{{ item.primary_list }}</a></span>
					</li>			
				{% endfor %}
			</ul>
		</div>
		
		{% else %}
		<!-- Default view for non-authenticated users -->
		<div id="public-header">
			<div id="public-description">
				<h1>SvarmDo</h1>
				
				<h2>{{ _("Getting Things Done. Together.") }}</h2>
				
				<div id="public-image">
					<img src="" title="SvarmDo" alt="Getting Things Done. Together.">
				</div>


				<p>
					{% trans "It's no fun working through a ToDo list on your own." %}	
				</p>
				
				<p>
					{% trans "Pimp out your Svarm lists to friends and get them to do stuff for (or with) you!" %}
				</p>
				
			</div>
		</div>
	{% endif %}	
	</div>
{% endblock %}