{% extends 'base.html' %}

{% block title %}
	Social Do Listing
{% endblock %}


{% block content %}

	<h1>{{ _("Most recent lists") }}</h1>

	<div id="lists">
		{% for list in lists %}
			<div class='list'>
				<ul>
					<li class='list-item-count'>{{ list.list_items.count }}</li>
					<li class='list-name'><a href="/list/{{ list.key.id }}/">{{ list.name }}</a></li>					
					<li><div class='list-user-name'>by <a href='/user/{{ list.user.username }}/'>{{ list.user.get_full_name }}</a></div></li>
				</ul>
			</div>
		{% endfor %}
	</div>

{% endblock %}